[submodule "Dependencies/JobBot"]
	path = Dependencies/JobBot
	url = https://github.com/jacobmcleman/JobBot
[submodule "Dependencies/googletest"]
	path = Dependencies/googletest
	url = https://github.com/google/googletest
[submodule "Dependencies/gtest-parallel"]
	path = Dependencies/gtest-parallel
	url = https://github.com/google/gtest-parallel
[submodule "Dependencies/MetaStuff"]
	path = Dependencies/MetaStuff
	url = https://github.com/eliasdaler/MetaStuff
